# PlatformIO
.pio/
.vscode/

# Optional: Keep only settings.json if shared settings are used
!.vscode/settings.json

# Unit testing
test/.pio/

# Python cache
__pycache__/
*.pyc

# OS/system files
.DS_Store
Thumbs.db

# Backup/temp/editor files
*.bak
*.swp
*.tmp
*~

# Compiled firmware (if generated manually or copied in)
*.elf
*.bin
*.hex"../MDFS-Robot-Backup/" 
"../MDFS-Robot-Backup/" 
